* {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  box-sizing: border-box;
}

.headerSection,
.sectionContaier {
  min-width: 1200px;
  margin: 0 auto;
}

.headerSection {
  box-shadow: 5px 5px 5px rgb(1, 1, 1, 0.5);
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionContaier {
  margin-top: 30px;
  display: flex;
  padding: 50px;
}

.heading {
  padding: 50px;

}

.heading>h1 {
  margin-top: 90px;
  font-size: 40px;
}

.heading>p {
  font-size: 22px;
}

.btn {
  background-color: tomato;
  color: white;
  width: 25%;
  padding: 10px;
  outline: none;
  border: none;
  margin-left: 50px;
}

.btn:hover {
  background-color: peru;
  color: black;
  cursor: pointer;
}

/* section3 */
.foodAllDeleviry {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.box {
  display: flex;
  gap: 12px;
}

/* our menu item GALLERY  */
.ourOrder {
  width: 80%;
  margin: auto;
  margin-top: 90px;


}

.topHeading>h6 {
  font-size: 28px;
  width: 20%;
  text-transform: capitalize;
  background-color: green;
  text-align: center;
  color: white;
}

/* our menu item GALLERY  */