* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.parrlaxImage {
  background: url('image/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.avif');
  background-size: cover;
  background-position: center center;
  height: 600px;
  position: relative;
}

.imageText {
  position: absolute;
  top: 300px;
  left: 400px;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(158, 153, 153, 0.7);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.section_hedding {
  text-align: center;
  text-transform: capitalize;
  color: gray;
}

.sectionOne_text {
  padding: 10px 10px;
  font-size: 20px;
  text-align: center;
}

.twoImg {
  background: url('image/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.avif');
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.twoImg h1 {
  text-transform: capitalize;
  color: white;
  position: absolute;
  top: 300px;
  left: 550px;
  letter-spacing: 0.5rem;
  background-color: rgb(128, 128, 128, 0.5);
  padding: 20px;
  font-size: 30px;

}

.section_two {
  background-color: #313534;
}

.sectionTwoHeading {
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
  padding: 15px;
  color: white;
}

.section_two p {
  padding: 10px 10px;
  font-size: 20px;
  letter-spacing: 0.1rem;
  color: white;
  text-align: center;
}

/* section three */
.section_three {
  background: url('image/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.avif');
  background-size: cover;
  height: 600px;
  position: relative;
}

.three_imgText {
  position: absolute;
  top: 300px;
  left: 550px;
  color: white;
  text-transform: capitalize;
  background-color: rgb(128, 128, 128, 0.5);
  padding: 25px;
}

/* section three */

/* section three text*/
.section_threeText {
  background-color: #313534;
  color: white;
}

.three_headding {
  text-align: center;
  text-transform: capitalize;
  padding: 15px;
  font-size: 28px;

}

.section_threeText p {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

/* section three text*/
/* SECTION FOUR*/
.section_four {
  background: url('image/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.avif');
  background-size: cover;
  height: 600px;
  position: relative;
}

.four_heading {
  color: white;
  position: absolute;
  top: 300px;
  left: 550px;
  text-transform: capitalize;
  background-color: rgb(128, 128, 128, 0.5);
  padding: 15px;
  box-shadow: 5px;
}

/* SECTION FOUR*/